html {
  overflow: hidden;
}

html, body, #root, .app-wrapper, .app-driverList , .app-driverPage{
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-driverList {
  min-width: 15em;
  max-width: 15em;
}

.app-wrapper {
  display: flex;
}

.app-driverPage {
  width: 100%;
  margin: 0em 2em;
}
