table {
    margin-top: 2em;
    height: 30vh;
    border: 1px solid;
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td {
    display: block;
}

thead tr {
    width: 97%;
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

th {
    font-size: small;
    font-weight: bold;
    height: 100%;
}

thead tr {
    height: 100%;
}

thead {
    overflow: hidden;
    height: 15%;
    border-bottom: 1px solid;
}

tbody {
    height: 85%;
    height: -webkit-calc(85% - 1px);
    height:    -moz-calc(85% - 1px);
    height:         calc(85% - 1px);
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    float: left;
}

td, th {
    border-right: 1px solid;
    padding: 0.2em;
}

thead th:last-child , tbody td:last-child {
    border-right: none;
}

td {
    font-size: smaller;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.driverEvent-big {
    width: 14%;
}

.driverEvent-small {
    width: 7%;
}

.driverEvent-Title {
    cursor: pointer;
}

.driverEvent-Title th {
    position: relative;
}

.driverEvent-Title div {
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}