.DriverList-Wrapper {
    border-right: 1px solid;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y:auto;
}

.DriverList-Selector {        /* Opera/IE 8+ */
    list-style-type: none;
    margin: 1em 2em;
    height: 3.5em;
    border: 1px solid;
}

.button:hover {
    border: 3px solid;
}

.button {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    cursor: pointer;
}

.DriverSelect-name {
    padding: 0em 1em 0em 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.DriverSelect-active-indicator {
    margin-top: 40%;
    margin-bottom: 40%;
    min-width: 100%;
    border: 1px solid;
}

.DriverSelect-active {
    background-color: green;
}

.DriverSelect-inactive {
    background-color: red;
}