.DriverList-Wrapper {
    border-right: 1px solid;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y:auto;
}

.DriverList-Selector {
    list-style-type: none;
    align-self: center;
    margin: 1em 2em 1em 2em;
    border: 1px solid;
    height: 3.5em;
}

.DriverSelect-wrapper {
    display: flex;
}

.DriverSelect-name-wrapper {
    padding: 0;
    width: 75%;
    max-width: 75%;
    display: inline-block;
}
.DriverSelect-indicator-wrapper {
    display: flex;
    width: 18%;
}

.DriverSelect-name {
    margin-left: 0.5em;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.DriverSelect-active-indicator {
    margin-top: 40%;
    margin-bottom: 40%;
    min-width: 100%;
    border: 1px solid;
}

.DriverSelect-active {
    background-color: green;
}

.DriverSelect-inactive {
    background-color: red;
}